[submodule "Ghost"]
	path = Ghost
	url = git@github.com:TryGhost/Ghost.git
[submodule "discourse"]
	path = discourse
	url = git@github.com:discourse/discourse.git
[submodule "wordset-ui"]
	path = wordset-ui
	url = https://github.com/wordset/wordset-ui.git
[submodule "travis-web"]
	path = travis-web
	url = https://github.com/travis-ci/travis-web.git
[submodule "hummingbird"]
	path = hummingbird
	url = https://github.com/hummingbird-me/hummingbird.git
[submodule "sharedrop"]
	path = sharedrop
	url = https://github.com/cowbell/sharedrop.git
[submodule "hospitalrun-frontend"]
	path = hospitalrun-frontend
	url = https://github.com/HospitalRun/hospitalrun-frontend.git
[submodule "ember.js"]
	path = ember.js
	url = https://github.com/emberjs/ember.js.git
[submodule "ember-twiddle"]
	path = ember-twiddle
	url = https://github.com/ember-cli/ember-twiddle.git
[submodule "community"]
	path = community
	url = https://github.com/documize/community.git
[submodule "client"]
	path = client
	url = https://github.com/emberobserver/client.git
[submodule "rancher-ui"]
	path = rancher-ui
	url = https://github.com/rancher/ui.git
[submodule "Ghost-Admin"]
	path = Ghost-Admin
	url = https://github.com/TryGhost/Ghost-Admin.git
[submodule "flexi"]
	path = flexi
	url = https://github.com/html-next/flexi.git
[submodule "skylines"]
	path = skylines
	url = https://github.com/skylines-project/skylines.git
[submodule "ember-power-calendar"]
	path = ember-power-calendar
	url = https://github.com/cibernox/ember-power-calendar.git
[submodule "library-app"]
	path = library-app
	url = https://github.com/zoltan-nz/library-app.git
